@import url("https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", Sans-Serif;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.header {
  display: none;
}

.about-header {
  background: url(../images/about.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  /* mix-blend-mode: multiply; */
  background-blend-mode: multiply;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header h1 {
  font-size: clamp(2.5rem, 10vw, 9rem);
  font-weight: 700;
  font-family: monospace;
}
.about {
  min-height: 80vh;
}

.project {
  display: flex;
}

.project img {
  width: 500px;
  height: 300px;
}
.project-content {
  background-color: #fff;
}

.project-content h3 {
  font-size: 3rem;
}

.project-content p {
  font-size: 1.9rem;
}

.project-content a {
  font-size: 1.7rem;
  margin-right: 10px;
  color: var(--main-color);
  text-decoration: underline;
}
.about-img img {
  width: 300px;
  height: 500px;
  border-radius: 15px;
}

.about-img img::before {
  content: '';
  position: absolute;
  
  background-color: dodgerblue;
}
